*{
	margin:0;
	padding:0;
	font-family:Calibri Light,'poppins',sans-serif,Arial, Helvetica, sans-serif;
	box-sizing:border-box;
}
.Head-bar{
	display:flex;
	justify-content:space-between;
	padding:10px 10px;
	line-height:50px;
}
.logo{
	background:white;
}
.logo img{
	width:30px;
	height:40px;
	float:left;
	padding-top:10px
}
.logo h1{
	font-size:25px;
	position:relative;
	padding-left:50px;
}
.logo h1 a{
	font-variant: small-caps;
	text-decoration:none;
	color: #22507c;
}
.logo h1 a span{
	color: rgb(255, 0, 0);
}
.menu{
	position:relative;
	background:White;
	text-align:right;
}
.menu ul li{
	display:inline-block;
	padding:5px 10px;
}
.menu ul li a{
	display:inline-block;
	font-size:20px;
	font-weight:550;
	font-family:'poppins',sans-serif;
	text-decoration:none;
	color:#124350;
	position:relative;
}
.menu ul li a:before{
	content:'';
	position:absolute;
	bottom:0px;
	left:0;
	height:5px;
	width:0%;
	background-color:#34efdf;
	transition:all 0.4s ease;
}
.menu ul li a:hover:before{
	width:100%;
}
.menu ul li a:hover{
	color:#34b0b0;
	transition:0.4s;
}
.active::after{
	content:'';
	position:absolute;
	bottom:0px;
	left:0;
	height:5px;
	width:100%;
	background-color:#34efdf;
}
.fa{
	color: red;
	display: none;
}
.bredcrumb{
	padding:10px 10px;
}
.bredcrumb ul {
	display:flex;
	list-style-type: none;
}
.bredcrumb ul li a{
	padding:10px 10px;
	text-decoration:none;
	color:blue;
	font-weight: 600;
}
.banner{
	min-height:80vh;
	width:100%;
	background-image:url(photos/banner.jpg);
	background-position:center;
	background-size:cover;
}
.banner-3{
	background-image:url(photos/banner-3.jpg);
	width:100%;
	min-height:60vh;
	background-position:center;
	background-size:cover;
}
.about{
	background: white;
}
.about-head{
	padding: 20px 20px;
	color:#323f3f;
	text-align:left;
}
.about-head h1{
	font-size: 35px;
}
.about-head p{
	padding-top: 40px;
	font-size:17px;
	color: dimgray;
	font-weight: 600;
}
.about-2{
	padding: 40px;
	text-align: center;
}
.about-2 h1{
	color: #0b867c;
	padding: 20px;
}
.about-2-para{
	color: dimgray;
	font-size: 17px;
	padding: 30px 10px;
	font-weight: 600;
}
.service{
	background:#e9fff7;
	padding-left: 15px;
	padding-top:40px;
	padding-bottom:50px;
}
.service h1{
	color:#323f3f;
	font-size:35px;
}
.service-grid{
	display:grid;
	grid-template-columns:repeat(auto-fit,14rem);
	padding: 10px 10px;
}
.service-item{
	height:250px;
	width:170px;
	padding:0px 0px;
	background:rgb(137, 207, 228);
	text-align:center;
	border-radius:1px;
	margin:15px;
	position:relative;
	overflow:hidden;
}
.service-item img{
	width:180px;
	height:180px;
	background:white;
}
.service-item h2{
	font-variant: small-caps;
	color: #05413c;
	font-size:15px;
	padding-top:10px;
}
.service p{
	padding-top:40px;
	color: dimgray;
	font-weight: 600;
	font-size:17px;
}
.service-2{
	display:grid;
	grid-template-columns:repeat(auto-fit,35rem);
	justify-content:center;
	background:white;
	text-align:center;
	padding: 40px;
}
.service-2-item img{
	width: 500px;
}
.service-2-item{
	height:500px;
	width:465px;
	padding:0px 0px;
	background:white;
	text-align:center;
	border: 1px solid #cecece;
	margin:10px;
	position:relative;
	overflow:hidden;
}
.service-2-item:hover{
	height: 500px;
	width:465px;
	box-shadow: 1px 1px 10px #cecece;
	transition: all 0.2s;
}
.service-2-item h2{
	color:#0b867c;
	font-size: 18px;
	padding-top:20px;
	padding-bottom:20px;
}
.service-2-item a {
	position: relative;
	top: 80px;
	font-size:30px;
	background-color:rgb(240, 39, 39);
	color:white;
	text-decoration:none;
	border: 4px solid transparent;
	padding: 1px 13px;
	font-weight: bolder;
	border-radius: 100px;
	transition: all 0.1s;
}
.service-2-item a:hover{
	background-color:rgb(39, 240, 163);
	font-size: 35px;
	padding: 0px 13px ;
	color: white;
	font-weight:bolder;
	box-shadow: 2px 2px 7px #cecece;
}
.service-2-item-pg{
	position: absolute;
	padding: 20px 10px;
}
.service-2-item-pg p{
	color: #124350;
	font-size: medium;
	font-weight: 600;
}
.service-2-item-pg span{
	font-weight: 900;
	font-size:large ;
	color: #9b0000;
}
.service-2-item-pg ul{
	padding: 10px 150px;
}
.service-2-item-pg ul li{
	color:#05413c
}
.optical-need {
	padding: 30px;
}
.optical-need h1{
	color:#064656;
	padding-top:20px;
	padding-bottom:20px;
}
.optical-need p{
	padding-top:30px;
	padding-bottom:30px;
	font-size: 17px;
	color:#636383;
	font-weight: 600;
}
.optical-need ul{
	padding-left: 15px;
}
.optical-need ul li{
	list-style-type: circle;
	color:#4d4d5f;
	font-weight: 600;
}
.type{
	position: relative;
	top: 40px;
	left: 140px;
	height: 2000px;
	width: auto;
}
.contact-lences{
	padding: 40px 40px 60px;
}
.contact-lences h1{
	color:#064656;
	padding-top:20px;
	padding-bottom:20px;
}
.contact-lences h2{
	color: #34b0b0;
	font-size: 17px;
	font-variant: small-caps;
}
.contact-lences h2 span{
	font-size: 25px;
}
.contact-lences p{
	padding-top:30px;
	font-size: 17px;
	color:#726baf;
}
.contact-lences a{
	text-decoration:underline;
	color: #05413c;
}
.branch h2{
	color:#064656;
	padding-left:10px;
	padding-top:50px;
	padding-bottom:50px;
}
.business-hours{
	background-color: #e6f3f2;
}
.business-hours h1{
	text-align: center;
	color:#0b867c;
	background-color: #86e0d9;
	border-radius: 20px;
}
.business-hours ul{
	padding-top: 10px;
	padding-left: 20px;
	padding: 30px;
}
.business-hours ul li{
	color: #22507c;
	font-size: 17px;
	padding-left: 20px;
	padding-bottom: 10px;
	text-align: left;
}
.cont-1{
	padding-left: 80px;
	background-image:linear-gradient(rgba(4,5,30,0.5),rgba(4,6,40,0.5)),url(photos/banner-3.jpg);
	background-size: cover;
}
.contact-us{
	padding: 20px 10px ;
	text-align: left;
}
.contact-us h2{
	font-size: 35px;
	color: #00fff2;
	padding-bottom: 15px;
}
.contact-us h3{
	color: aliceblue;
	font-size: 17px;
	padding: 5px 5px;
}
.contact-us h3 a{
	text-decoration: none;
	color: aliceblue;
	font-size: 17px;
}
.cont-2{
	background-image:linear-gradient(rgba(4,5,30,0.5),rgba(0, 4, 75, 0.699)),url(photos/banner-3.jpg) ;
	background-size: cover;
	padding: 50px;
}
.contact-us-2{
	text-align: center;
}
.contact-us-2 h1{
	padding: 20px 10px;
	color: #00fff2;
	font-variant: small-caps;
}
.contact-us-2 h2{
	padding: 10px;
	color: #ffe600;
}
.contact-us-2 h3{
	font-size: 20px;
	color: white;
	padding-bottom:8px ;
}
.contact-us-2 h3 a{
	font-size:20px ;
	text-decoration: none;
	color: white;
}

@media(max-width:700px){
	.banner{
		min-height:40vh;
		width:100%;
	}
	.banner-01{
		min-height:25vh;
		width:100%;
	}
	.banner-3{
		min-height:30vh;
		width:100%
	}
	.about p{
		font-size:15px;
	}
	.logo h1{
		font-size: 20px;
	}
	.menu ul li{
		text-align: left;
		display: inline-flex;
	}
	.menu ul li a{
		font-size:25px;
	}
	.about-2 p{
		font-size:15px;
	}
	.service-2 img {
		width:100%;
	}
	.service-grid{
		grid-template-columns: repeat(auto-fit,15rem);
	}
	.service h2{
		font-size:10px;
	}
	.service p{
		font-size:15px;
	}
	.service-2{
		grid-template-columns:repeat(auto-fit,15rem);
	}
	.service-2-item{
		position: static;
		display: block;
		height:320px;
		width:200px;
	}
	.service-2-item p{
		font-size: small;
	}
	.service-2-item p span{
		font-size: small;
	}
	.service-2-item:hover{
		height: 320px;
		width: 200px;
	}
	.service-2-item-pg{
		position: static;
	}
	.service-2-item-pg ul{
		padding: 5px 10px;
	}
	.service-2-item-pg p UL li{
		font-size: 10px;
	}
	.service-2-item a{
		position: relative;
		top: 10px;
		font-size: small;
	}
	.spec-1{
		font-size:16px;
	}
	.business-hours ul {
		position: relative;
		top: 0px;
		left: 40px;
	}
	.cont-1 h3{
		font-size:15px;
	}
	.cont-1 h3 a{
		font-size:15px;
	}
	.cont-2{
		font-size: small;
	}
	.cont-2 h3{
		font-size: small;
	}
	.cont-2 h2{
		font-size: medium;
	}
	.cont-2 h3 a{
		font-size: small;
	}
	.menu ul li a{
		font-size:12px;
	}
	.optical-need-2 p{
		font-size:15px;
		padding-left:20px;
	}
	.optical-need img{
		position: relative;
		top: 10px;
		left: 10px;
		height: 500px;
		width: auto;
	}
}